<div class="container mx-auto p-4 flex bg-slate-400 m-4 w-full items-center rounded-lg">
    <div class="profile flex-none w-14">
        <img class="inline-block h-6 w-6 rounded-full ring-2 ring-white" [src]="contact.imageUrl" alt="">       
    </div>
    <h1 class="name flex-initial w-64 text-gray-100 capitalize ">{{ contact.name }}</h1>
    <div class="flex flex-initial w-120">
        <button class="mx-4 inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">Delete</button>
        <button class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20" (click)="onViewContact()">Edite</button>
    </div>
</div>
